modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/discord-bot: Discord Bot"

[[workflows.workflow]]
name = "artifacts/discord-bot: Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/discord-bot run dev"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
BASE_URL = "https://a2004ec5-cbd1-4433-8d2a-0a2f98ec7d6d-00-2e6mazm52dbnh.kirk.replit.dev"
STRIPE_PUBLISHABLE_KEY = "pk_live_51T3FxoJtkf3KMCtyiReqFIPoPvXbOBVpFgB2KVysGsAgEhLqgAq0qBy773nwB17Q5gS3OEcPAnPZsdhhWAn2sXD600Z86VlEuu"

[nix]
channel = "stable-25_05"
packages = ["flyctl"]
